@import "../../styles/variables";
@import "../../styles/size";

.footerClass {
  width: auto;
  height: 200px;
  background: #fafafa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;

  @include size(mobile-only) {
    display: none;
  }
}
