@import "../../styles/variables";
@import "../../styles/size";

.Footer {
  display: block;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 200px;
  background: #fafafa;

  border: 1px solid #d8d8d8;
  box-sizing: border-box;

  @include size(mobile) {
    width: auto;
  }

  @include size(tablet) {
    // width: 225px;
  }

  @include size(desktop) {
    // width: 557px;
  }
}
